*{box-sizing: border-box;}

body{
    margin: 0;
    padding: 0;
    
}
.text1 {
    text-align: center;
}
.footer {
   
    height: 60px;
    background-color: blueviolet;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: aliceblue;

}
