*{
    box-sizing: border-box;
}
body {
    margin: 0;
    
}

label {
    font-weight: bold;
}

.btn1{
    background-color: blueviolet;
    color: aliceblue;
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 150px;
}