*{
    box-sizing: border-box;

}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.nav{
    background-color: blueviolet;
    color: white;
    display: flex !important;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
    padding: 0 1rem;
}
.site-title{
    font-size: 25px;
    font-weight: bold;
}
.nav ul{
    padding: 20px;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 25px;
}
.nav a{
    color: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding:.25rem;
}
.nav li:active{
    background-color: #506963;
    height: 100%;
}
.nav li:hover{
    background-color: #6b9289;
}
